.app{
    background-color: #000000;
}
.drink-page{
    margin-top: 0px;
    background-color: #000000;
    color: white;
    height: 100%;
}
.drink-name{
    color: #F5783B; 
    background-color: #000000;
}
/* .drink-cat{
    color: #F5783B; 
    background-color: #000000;
} */
.drink-container{
    background-color: #000000;
    width: 500px;
    height: 100%;
    margin: 5% auto;
    text-align: center;
    border:2px solid #F5783B
}
.drink-container h1{
    color: #F5783B;    
}
.drink-image img{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}
.btnDivs{
    display: inline-flex;
    
}

.btnMake {
	box-shadow: 0px 0px 0px 2px #F5793B;
    margin-right: 40px;
	background-color:#F5793B;
	border-radius:10px;
	border:1px solid #F5793B;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 24px;
	padding:10px 24px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #283966; */
}
.btnNext {
	box-shadow: 0px 0px 0px 2px #F5793B;
    margin-left: 40px;
	background-color:#F5793B;
	border-radius:10px;
	border:1px solid #F5793B;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-family:Arial;
	font-size: 24px;
	padding:10px 24px;
	text-decoration:none;
	/* text-shadow:0px 1px 0px #283966; */
}
.btnNext:hover {
	background-color:#f1580c;
}
.btnMake:hover {
	background-color:#f1580c;
}
.dd-steps p{
font-style: italic;
}
.dd-steps{
    width: 95%;
    height: 100%;
    margin: 5px;
}
.make-container{
    background-color: #000000;
    width: 500px;
    height: 100%;
    margin: 5% auto;
    text-align: center;
    /* border:1px solid #F5783B */
}