.header {
	background-color: #000000;
	border-bottom: #f5783b 2px solid;
}
.headerLink {
	display: flex;
	background-color: #000000;
	color: #f5783b;
	height: 80px;
	text-decoration: none;
}
.headerText {
	margin-left: 50px;
}
